
<div class="h-4/5 relative">
    <button mat-raised-button color="warn" class="m-0 absolute top-1/4 left-1/4 w-1/2 h-1/2 text-white text-shadow" routerLink="/mission-config" routerLinkActive="active" ariaCurrentWhenActive="page"><h1>Neuer Einsatz</h1></button>
</div>
<div class="h-1/5 relative">
    <span class="absolute bottom-4 left-4 inline-block text-2xl text-white"><b>FireAir</b><img class="inline align-bottom" height="1rem" src="..\assets\icons\local_fire_department_FILL0_wght300_GRAD0_opsz48.svg" alt=""></span>
</div>