<div class="text-white">
  <mat-stepper color="warn" class="example-stepper bg-[#8A8A8A]">
    <mat-step label="Einsatzzeit">
      <app-mission-date></app-mission-date>
      <button class="ml-4" mat-raised-button color="accent" matStepperNext>Nächste <img class="inline-block" src="..\assets\icons\arrow_forward_FILL0_wght300_GRAD0_opsz48.svg" alt="Next"></button>
    </mat-step>
    <mat-step label="Einsatzort">
      <button mat-raised-button color="accent" matStepperNext>Nächste <img class="inline-block" src="..\assets\icons\arrow_forward_FILL0_wght300_GRAD0_opsz48.svg" alt="Next"></button>
    </mat-step>
    <mat-step label="Überwachung">
      <app-mission-monitoring></app-mission-monitoring>
      <button mat-raised-button color="accent" matStepperNext>Nächste <img class="inline-block" src="..\assets\icons\arrow_forward_FILL0_wght300_GRAD0_opsz48.svg" alt="Next"></button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Weiteres</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-raised-button color="accent">Fertig <img class="inline-block" src="..\assets\icons\done_FILL0_wght300_GRAD0_opsz48.svg" alt="Done"></button>
      </div>
    </mat-step>
  </mat-stepper>
</div>